/* Подключение шрифтов к странице */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/inter-400.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/inter-700.woff2);
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/inter-900.woff2);
  font-display: swap;
}

/* Стили для скрытых элементов */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  min-height: 100%;
  font-family: 'Inter', sans-serif;
  color: #2D3440;
  background-color: #FEAFC3;
  display: flex;
  flex-direction: column;
}

/* Стили для header */
.header {
  width: 1170px;
  margin: 0 auto;
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
}

.header__logo-link {
  margin-top: 3px;
  margin-right: 16px;
}

/* Состояния для логотипа в блоке header */
.header__logo-link:hover {
  opacity: 0.7;
}

.header__logo-link:active {
  opacity: 0.5;
}

.header__logo-link:focus {
  outline: 2px solid #2D3440;
}

.header__navigation-list {
  max-width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.header__navigation-link {
  color: inherit;
  text-decoration: none;
  padding: 8px 16px;
  box-sizing: border-box;
  border-radius: 30px;
}

/* Состояния для пунктов меню */
.header__navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.header__navigation-link:active {
  background-color: #FCFCFC;
}

.header__navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.header__telefone-link {
  margin-left: auto;
  margin-right: 17px;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/* Состояния для ссылки с номером телефона */
.header__telefone-link:hover {
  opacity: 0.7;
}

.header__telefone-link:active {
  opacity: 0.5;
}

.header__telefone-link:focus {
  outline: 2px solid #2D3440;
}

.header__user-navigation-list {
  max-width: 270px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.header__user-navigation-link {
  color: inherit;
  text-decoration: none;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  display: flex;
}

.header__search-link {
  padding: 8px;
}

.header__login-link, .header__basket-link {
  padding: 6px 16px;
}

.header__link-icon_login, .header__link-icon_basket {
  margin-right: 6px;
}

.header__link-icon_login, .header__link-icon_basket, .header__link-icon_search {
  fill: #2D3440;
}

.header__basket-counter {
  margin-right: 5px;
}

/* Состояния для кнопок пользовательского меню */
.header__user-navigation-link:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.header__user-navigation-link:active {
  background-color: #FCFCFC;
}

.header__user-navigation-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

/* Состояние для выбранной страницы или нажатой кнопки */
.header__link_active {
  background-color: #FF4A78;
  color: #FCFCFC;
}

.header__icon_active {
  fill: #FCFCFC;
}

/* Стили для presents */
.presents {
  width: 1170px;
  margin: 80px auto;
  margin-bottom: 82px;
  flex-grow: 1;
}

.presents__title {
  max-width: 435px;
  margin: 0 auto;
  margin-bottom: 54px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.presents__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.presents__card {
  min-width: calc(570px - (36px * 2));
  padding: 36px;
  background-color: #FF7799;
  border-radius: 16px;
}

.presents__card:nth-of-type(1) {
  background-image: url(../images/presents-raspberry.png);
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}

.presents__card:nth-of-type(2) {
  background-image: url(../images/presents-marshmallow.png);
  background-repeat: no-repeat;
  background-position: bottom 0 right 0;
}

.presents__card-title {
  max-width: 328px;
  margin-top: 0;
  margin-bottom: 28px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.presents__card-text {
  max-width: 320px;
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 16px;
  line-height: 22px;
}

.presents__card:nth-of-type(2) .presents__card-text {
  max-width: 300px;
}

.presents__card-link {
  padding: 12px 32px;
  display: inline-block;
  background-color: #FCFCFC;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  border-radius: 26px;
  box-shadow: 0 0 0 4px rgba(252, 252, 252, 0.4), 0 4px 12px rgba(45, 52, 64, 0.1);
}

/* Состояния для кнопок в блоке presents */
.presents__card-link:hover {
  background-color: rgba(252, 252, 252, 0.4);
  box-shadow: 0 0 0 4px #FCFCFC;
}

.presents__card-link:active {
  box-shadow: 0 0 0 2px #2D3440;
}

.presents__card-link:focus {
  background-color: rgba(252, 252, 252, 0.5);
  box-shadow: 0 0 0 2px #2D3440;
}

/* Стили для catalog */
.catalog {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.catalog__title {
  max-width: 527px;
  margin: 0 auto;
  margin-bottom: 106px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 91px;
}

.catalog__card {
  padding: 133px 40px 24px 40px;
  background-color: #FCFCFC;
  border-radius: 8px;
  position: relative;
}

.catalog__card-image {
  position: absolute;
  top: -51px;
  left: 50%;
  transform: translateX(-50%);
}

.catalog__card-title {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog__card-text {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
}

.catalog__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog__card-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog__card-basket {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  background-color: #FF2F64;
  cursor: pointer;
}

.catalog__card-basket-svg {
  fill: #FCFCFC;
}

/* Состояния для кнопки корзины */
.catalog__card-basket:hover {
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FF2F64;
}

.catalog__card-basket:hover .catalog__card-basket-svg {
  fill: #2D3440;
}

.catalog__card-basket:active {
  background-color: #FFCBD8;
  border: 2px solid #FF2F64;
}

.catalog__card-basket:active .catalog__card-basket-svg {
  fill: #2D3440;
}

.catalog__card-basket:focus {
  border: 2px solid #2D3440;
}

.catalog__card-basket:disabled {
  background-color: #B9B9B9;
}

.catalog__card-basket:disabled .catalog__card-basket-svg {
  fill: #565C66;
}

/* Стили для benefits */
.benefits {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding: 80px 0;
  border-radius: 16px;
  background-image: url(../images/benefits-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}

.benefits::before {
  content: '';
  width: calc(100% - (24px * 2));
  height: calc(100% - (24px * 2));
  background-color: #FFFFFF;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.benefits__title {
  max-width: 995px;
  margin: 0 auto;
  margin-bottom: 56px;
  text-align: center;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

.benefits__list {
  max-width: calc(442px + 442px + 96px);
  margin: 0 auto;
  padding: 0;
  padding-left: 64px;
  list-style-type: none;
  font-size: 16px;
  line-height: 22px;
  display: grid;
  grid-template-columns: repeat(2, 442px);
  row-gap: 40px;
  column-gap: 96px;
}

.benefits__item {
  position: relative;
}

.item_type_ingredients {
  max-width: 420px;
}

.item_type_production::before {
  content: '';
  width: 48px;
  height: 48px;
  background-image: url(../images/benefits-ice-cream.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: -63px;
}

.item_type_ingredients::before {
  content: '';
  width: 48px;
  height: 48px;
  background-image: url(../images/benefits-cow.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: -63px;
}

.item_type_farmers::before {
  content: '';
  width: 48px;
  height: 48px;
  background-image: url(../images/benefits-leaf.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: -63px;
}

.item_type_dilivery::before {
  content: '';
  width: 48px;
  height: 48px;
  background-image: url(../images/benefits-thermometer.svg);
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: -64px;
}
